@import "variable";

.home_banner_section {
    width: 100%;
    background-color: #083a74;

    .home_banner_container {
        width: 100%;
        display: flex;

        .home_banner_left_sec {
            width: 50%;

            h3 {
                color: #6adfd7;
                font-weight: 900;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.16px;
                text-transform: uppercase;
            }

            h2 {
                padding-top: 30px;
                color: #fff;
                font-size: 60px;
                font-style: normal;
                font-weight: 600;
                line-height: 78px;
                letter-spacing: -2.592px;
            }

            p {
                padding-top: 30px;

                color: #fff;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 35px;
                margin-bottom: 40px;
            }

            .home_banner_left_input_sec {
                overflow: hidden;
                display: flex;

                input {
                    display: block;
                    padding: 10px 3%;
                    border: 0;
                    width: 50%;
                    color: #333333;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 35px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;

                    &::placeholder {
                        color: #c2c2c2;

                        font-weight: 500;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                .home_banner_left_input_btn {
                    padding: 10px 5%;
                    display: block;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    border: 0;
                    background-color: $button_color;
                    color: #ffffff;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 35px;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        background-color: $button_hover;
                    }
                }
            }
        }

        .home_banner_right_sec {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .home_banner_right_img {
                width: 70%;
            }

            .home_banner_right_play_btn {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .home_banner_right_play_btn_icon {
                    width: 30px;
                    margin-left: 3px;

                    img {
                        filter: invert(1);
                    }
                }

                &:hover {
                    border: 2px solid #0056b852;
                }

                &::before {
                    z-index: -1;
                    content: "";
                    position: absolute;
                    background: radial-gradient(rgba(0, 212, 255, 0) 55%,
                            rgba(5, 104, 184, 1) 55%);
                    border-radius: 50%;

                    top: 50%;
                    transform: translateY(-50%);
                    margin: auto;

                    animation: playbtnEffect 03s ease-in-out infinite;

                    @keyframes playbtnEffect {

                        0%,
                        100% {
                            width: 70%;
                            height: 70%;
                        }

                        50% {
                            width: 140%;
                            height: 140%;
                            opacity: 0;
                        }
                    }
                }

                &::after {
                    z-index: -1;
                    content: "";
                    position: absolute;
                    background-color: $button_color;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    transition: all 0.5s ease;
                }

                &:hover::after {
                    background-color: #0056b852;
                    opacity: 0;
                }
            }
        }
    }
}

// ===================
.entire_tab_section {
    // ===================

    .how_we_drive_revenue_section {
        width: 100%;

        .how_we_drive_revenue_container {
            width: 100%;

            h3 {
                font-size: 72px;
                line-height: 78px;
                width: 100%;
                justify-content: center;
                text-align: center;
                margin-bottom: 30px;
                display: flex;

                span {
                    color: $button_color;
                }
            }

            p {
                margin-bottom: 70px;
                font-size: 21px;
                font-weight: 400;
                line-height: 35px;
                text-align: center;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }

            .how_we_drive_revenue_content_sec {
                width: 90%;
                margin: auto;
                position: relative;

                .how_we_drive_revenue_funnel_img {
                    position: absolute;
                    left: -17%;
                    top: 0%;
                    z-index: 5;
                    height: auto;
                    width: 20%;
                }

                .how_we_drive_revenue_content_data {
                    display: flex;
                    padding: 45px 0;
                    align-items: center;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 150%;
                        right: 0;
                        bottom: 0;
                    }

                    &:nth-child(2)::after {
                        border-bottom: 2px solid rgb(0, 238, 255);
                    }

                    &:nth-child(3)::after {
                        border-bottom: 2px solid rgb(0, 255, 106);
                    }

                    &:nth-child(4)::after {
                        border-bottom: 2px solid rgb(238, 255, 0);
                    }

                    &:nth-child(5)::after {
                        border-bottom: 2px solid rgb(255, 193, 112);
                    }

                    h4 {
                        font-size: 25px;
                        line-height: 34px;
                        width: 33%;
                        box-sizing: border-box;
                        padding-right: 5%;
                        text-align: end;
                    }

                    ul {
                        width: 33%;

                        li {
                            display: block;

                            a {
                                font-size: 21px;
                                line-height: 28px;
                                display: inline-flex;
                                align-items: center;
                                padding-bottom: 10px;
                                padding-right: 20px;

                                .how_we_drive_list_arrow_icon {
                                    height: auto;
                                    width: 15px;
                                    margin-left: 10px;
                                }

                                &:hover {
                                    color: $button_color;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .uncover_the_impact_section {
        .uncover_the_impact_container {
            h3 {
                font-size: 48px;
                color: black;
                text-align: center;
            }

            p {
                text-align: center;
                margin: auto;
                width: 80%;
                letter-spacing: -0.005em;
                margin-top: 0;
                margin-bottom: 24px;
                font-size: 21px;
                font-style: normal;
                font-weight: 400;
                line-height: 35px;
            }

            .uncover_the_impact_sub_head {
                color: #207de9;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                text-align: center;
                line-height: 32px;
                display: block;
            }

            .uncover_the_impact_counter_sec {
                display: flex;

                li {
                    width: 25%;
                    text-align: center;

                    h4 {
                        font-size: 48px;
                        color: #6adfd7;

                        span {
                            color: #222;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 22px;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .uncover_the_impact_tab_sec {
                display: flex;
                width: 90%;
                align-items: flex-start;
                padding-top: 200px;
                margin: auto;

                .uncover_the_impact_tab_left_sec {
                    width: 35%;
                    margin: -10px auto;
                    margin-right: 5%;

                    .uncover_the_impact_tab_body {
                        align-items: center;
                        display: flex;
                        color: black;
                        box-sizing: border-box;
                        padding: 20px 5%;
                        margin: 10px 0;
                        border-radius: 10px;
                        background-color: #ffffff;
                        cursor: pointer;
                        transition: all 0.3s ease;

                        .uncover_the_impact_tab_left_icon {
                            height: auto;
                            width: 50px;

                            object-fit: cover;

                            margin-right: 5%;
                        }

                        h4 {
                            font-size: 24px;
                            font-weight: 600;
                            font-style: normal;
                            line-height: 32px;
                        }

                        &:hover {
                            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.281);
                        }

                        &.active {
                            color: #207de9;
                            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
                        }
                    }
                }

                .uncover_the_impact_tab_right_sec {
                    position: relative;
                    width: 60%;
                    border-radius: 20px;
                    background-color: #083a74;
                    padding: 150px 5% 50px 5%;
                    transition: all 0.3s ease;

                    h4 {
                        color: white;
                        font-size: 24px;
                        font-weight: 600;
                        font-style: normal;
                        line-height: 32px;
                        text-align: center;
                        padding-bottom: 30px;
                    }

                    p {
                        color: white;

                        text-align: left;
                        width: 100%;
                    }

                    .uncover_the_impact_tab_right_top_img {
                        position: absolute;
                        top: -150px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 50%;
                    }
                }
            }
        }
    }

    .unmatched_expertise_section {
        width: 100%;

        .unmatched_expertise_container {

            margin: auto;
            width: 90%;

            h3 {
                font-weight: 700;
                font-size: 45px;
                margin: auto;
                width: fit-content;
                display: block;
            }

            .unmatched_expertise_content_section {
                display: flex;
                width: 100%;
                padding-top: 70px;

                .unmatched_expertise_left_section {
                    width: 50%;

                    li {
                        padding: 30px 5% 30px 0;

                        span {
                            font-size: 30px;
                            font-weight: 800;
                            line-height: 40px;
                        }

                        p {
                            padding-top: 10px;
                            font-size: 21px;
                            font-weight: 500;
                        }
                    }

                    .unmatched_expertise_left_list_section {
                        display: flex;
                        gap: 20px;

                        a {
                            font-size: 20px;
                            font-weight: 600;
                            color: #207de9;
                        }
                    }
                }
            }
        }
    }
}